html {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	font-weight: 400;
	font-variant: normal;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
	background: black;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

h1 {
	font-size: 24px;
	background: url('../images/fire.jpg') repeat;
	background-size: 300px auto;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: upward 1s infinite linear;
	font-weight: 900;
}

a {
	text-decoration: none;
	text-transform: none;
	color: white;
	font-size: 20px;
	margin: auto 10px;
}

a:hover {
	text-decoration: none;
	text-transform: none;
}

h2 {
	color: white;
	margin-top: 20px;
	font-size: 18px;
}

.user__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.social {
	display: block;
	list-style: none;
	margin-top: 50px;
	width: 100%;
	margin: auto;
	text-align: center;
	justify-content: center;
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 56px;
	}

	.social {
		display: flex;
		margin-top: 50px;
	}

	h2 {
		color: white;
		font-size: 30px;
		margin-top: 30px;
	}
}

@keyframes example {
	0% {
		color: red;
	}
	25% {
		color: #ff0;
	}
	50% {
		color: #00f;
	}
	100% {
		color: #fff;
	}
}

@keyframes upward {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -300px 0;
	}
}
